/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #f1f1f1;
    padding: 20px 0;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

main {
    padding: 40px 0;
}

.buffet {
    background-color: #f5f5f5;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 80px; /* Adding more space below Buffet section */
}

.buffet h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.order-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block; /* Ensure button is centered */
    margin-top: 20px; /* Space between h2 and button */
    text-transform: uppercase; /* Capitalize button text */
}

.order-btn:hover {
    background-color: #333; /* Darker background on hover */
}

/* Menu Section */
.menu {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

.menu h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.menu-categories {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    margin-bottom: 20px;
}

.category-btn {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 10px 20px;
    margin: 0 10px; /* Add space between buttons
